/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/****** General *****/
body {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}
/* Container */
.container {
  width: 980px;
  margin: 0 auto;
}


/* Padding */
.padding {
  padding: 80px 0;
}

/* Heading */
.heading {
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 16px;
}

/* Header */
.header {
  background-color:#2d3040;
  padding: 20px 0;
}
.logo {
  color:white;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
}
.logo h1 {
  text-align: center;
  color:white;
  font-size: 24px;
}
.nav-links {
  text-align: center;
  padding: 16px 0px;
  font-size: 18px;
  color: white;
}
.nav-links a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  margin-left: 32px;
}

/* Hero */
.hero {
  background-color:#2d3040;
  padding: 20px 0;
}
.hero-heading {
  font-size: 32px;
  text-transform:uppercase;
  color: #ffffff;
  font-weight: 600;
  width: 660px;
}
.hero-text {
  color: #ffffff;
  width: 500px;
  margin: 16px 0;
  font-weight: 300;
}

/* Secondary */
.secondary  {
  background-color:#4C5C96;
  padding: 20px 0;
}

/* Tertiary */
.tertiary {
  background-color: #45558D;
  padding: 20px 0; 
}
.quad{
  background-color:#3F4E85;
  padding: 20px 0;
}
.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: crimson;
  display: inline-block;
  margin-bottom: 16px;
}

/* Footer */
.footer {
  background-color:#2d3040;
  padding: 20px 0;
}
.footer .heading {
  color: #ffffff;
}
label {
  color: #ffffff;
  margin-bottom: 8px;
  display: inline-block;
  text-transform: uppercase;
}
.form-control {
  display: block;
  width: 100%;
  background-color: transparent;
  border: 1px solid #ffffff;
  padding: 8px 12px;
  font-size: 18px;
  margin-bottom: 32px;
}
.copyright {
  color: #ffffff;
  margin-top: 32px;
  text-align: left;
}
.img {
  height:200px;
  width:200px;
  border-radius: 50%;
  margin: 10px;
}
.m{
  color: white;
  text-transform: uppercase;
  margin: 10px;
  font-size: 24px;
}
.paragraph{
  color: white;
  margin: 10px 0px;
}
.read-more{
  color: white;
  margin: 20px 0px;
  padding-top: 10px;
  text-transform: uppercase;
  font-size:larger;
}
.s{
  text-transform: uppercase;
  color: white;
  font-size:xx-large ;
  margin: 40px 0px;
}
.p2{
  color: white;
  text-transform: uppercase;
  font-size: small;
  margin: 20px 0px;
}
